.input-time-selector-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 480px;
}

.btn-hour {
    font-size: 50px;
    margin: 0; /* reseta h2 */

    text-align: center;
}

#hour-picker {
    overflow-y: scroll;
    position: relative;
    
    height: 200px;
    width: 100%;
}

#hour-picker::-webkit-scrollbar { 
    display: none;
    height: 0px; 
    padding: 0;
}
            
#hour-picker::-webkit-scrollbar-thumb {
    padding: 0;
    display: none;
}

.hours {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
}

.hour {
    text-align: center;
    border-bottom: 1px solid gray;
    font-size: 20px;

    padding: 15px 0px;
    width: 100%;

    cursor: pointer;
}

.hour:hover {
    background-color: lightgray;
}

.hour.selected {
    background-color: lightgray;
}