* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 5vmin;
    display: grid;
    min-block-size: 100vh;
    place-items: center;
    background: #000119;
    font-family: monospace;
}

h1 {
    background-image: linear-gradient(90deg, #ff00d2, #fed90f, #00a2ff, #09f1b8);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    -webkit-background-clip: text;
    color: #000119;
    font-size: 22vmin;
    font-weight: 700;
    padding: calc(calc(1em / 16) / 2);
    letter-spacing: calc(1em / 8);
}